{{#each menu as |item|}}
  {{#if item.menu}}
    <div class="item">
      <i class="dropdown icon"></i> {{item.name}}
      <div class="menu">
        {{e-menu/item menu=item.menu}}
      </div>
    </div>
  {{else if item.separator}}
    <div class="divider"></div>
  {{else if item.header}}
    <div class="header">{{item.name}}</div>
  {{else if item.route}}
    {{#link-to item.route class='item'}}{{item.name}}{{/link-to}}
  {{else if item.link}}
    <a class='item' href="{{item.link}}">{{item.name}}</a>
  {{else}}
    <a class='item' href="#" onclick="e.preventDefault()">{{item.name}}</a>
  {{/if}}
{{/each}}