<span class="glyphicon glyphicon-chevron-left component-elements-paging-bar-nav" disabled={{noPrev}} {{action
        'prev'}}></span>
&nbsp;
<div class="component-elements-paging-bar-nav numbers">
    {{currentPage}} / {{total}}
</div>
&nbsp;
<span class="glyphicon glyphicon-chevron-right component-elements-paging-bar-nav" disabled={{noNext}} {{action
        'next'}}></span>
