<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    {{value}} <span class="caret"></span>
</button>
<ul class="dropdown-menu dropdown-menu-right btn-size">
    {{#each variantAsList as |variant|}}
        <li>
            <a href="#" {{action 'select' variant.value}}>
                <span class="glyphicon glyphicon-ok {{unless variant.checked 'invisible'}}" aria-hidden="true"></span>
                {{variant.value}}
            </a>
        </li>
    {{/each}}
</ul>
{{yield}}