<div class="content top">
  <div class="right floated meta">
    {{#link-to "storage.books.book.edit" cell.model.id}}
      <i class="edit icon link"></i>
    {{/link-to}}
  </div>
  {{cell.model.title}}
</div>
<div class="image">
  {{#link-to "storage.books.book.edit" cell.model.id}}
    <img src="{{fileStorageUrl}}{{cell.model.id}}">
  {{/link-to}}
</div>
<div class="content bottom">
  {{#each cell.model.authors as |author|}}
    {{author.firstName}} {{author.middleName}} {{author.lastName}},
  {{/each}}
</div>