{{#e-form/fields model=model bindTo=fields style=(hash padding='8px') as |form|}}

  {{form.text label='Title' value=model.title required=true}}

  <div class="ui items">
    <div class="item">

      {{#unless model.isNew}}
        <div class="image">
          <img id="upload-image" name="cover" src="{{fileStorageUrl}}{{model.id}}?{{imgVersion}}">
          {{#file-upload name="covers" accept="image/*" onfileadd=(action "uploadImage")}}
            <a style="display: block; text-align: center">Add / Replace</a>
          {{/file-upload}}
        </div>
      {{/unless}}

      <div class="content">
        <div class="two fields">
          {{form.select label='Genres' value=model.genres multiple=true modelName='books-genre'}}
          {{#form.select label='Authors' value=model.authors multiple=true modelName='books-author' as |item|}}
            {{item.firstName}} {{item.middleName}} {{item.lastName}}
          {{/form.select}}
        </div>
        <div class="three fields">
          {{form.date label='Publish date' value=model.publishDate}}
          {{form.select label='Publisher' value=model.publisher modelName='books-publisher'}}
          {{form.text label='ISNB-13' value=model.isnb13 required=true}}
        </div>
        {{form.textarea label='Description' value=model.description rows=15}}
      </div>
    </div>
  </div>

{{/e-form/fields}}