<div class="content top">
  <div class="right floated meta"><i class="remove icon link"></i></div>
  {{cell.model.title}}
</div>
<div class="image">
  {{#link-to "storage.books.book.edit" cell.model.id}}
    <img src="{{fileStorageUrl}}{{cell.model.id}}">
  {{/link-to}}
</div>
<div class="content bottom">
  {{#each cell.model.authors as |author|}}
    {{author.firstName}} {{author.middleName}} {{author.lastName}},
  {{/each}}
</div>