<div class="title">
  {{cell.model.title}}
</div>
<div class="image">
  {{#link-to "storage.books.book.edit" cell.model.id}}
    <img src="{{fileStorageUrl}}{{cell.model.id}}">
  {{/link-to}}
</div>
<div class="authors">
  {{#each cell.model.authors as |author|}}
    {{author.firstName}} {{author.middleName}} {{author.lastName}},
  {{/each}}
</div>