{{#if visible}}
  <div class="modal-dialog modal-sm components-e-dialog-modal-frame" style="width: {{width}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action 'cancel'}} aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          {{#if params.title}}
            {{params.title}}
          {{else}}
            {{title}}
          {{/if}}
        </h4>
      </div>
      <div class="modal-body">
        {{#if bodyText}}
          {{bodyText}}
        {{else}}
          {{component bodyFrame
                      params=params
                      register=(action 'registerFrame')
                      unregister=(action 'unregisterFrame')}}
        {{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-xs" {{action 'accept'}}>{{btnAccept}}</button>
        <button type="button" class="btn btn-default btn-xs" {{action 'cancel'}}>{{btnCancel}}</button>
      </div>
    </div>
  </div>
{{/if}}