{{#if _visible}}
  <i class="close icon" {{action 'e-dialog-modal-cancel'}}></i>
  <div class="header">
    {{_title}}
  </div>
  <div class="content scrolling">
    {{#if hasBlock}}
      {{yield this _data}}
    {{else}}
      {{_message}}
    {{/if}}
  </div>
  <div class="actions">
    {{#each _buttons as |button|}}
      {{#e-button/standard class=button.class action=(action 'onButtonAction' button.action)}}
        {{button.text}}
      {{/e-button/standard}}
    {{/each}}
  </div>
{{/if}}