{{#if _visible}}
  <i class="close icon" {{action 'onButtonAction' 'e-dialog-modal-cancel'}}></i>
  <div class="header">
    {{_title}}
  </div>

  {{#if hasBlock}}
    <div class="content scrolling {{if fixedHeight 'fixed-height'}} {{if noMargins 'no-margins'}}">
      {{yield this _data}}
    </div>
  {{else}}
    <div class="content scrolling">
      {{_message}}
    </div>
  {{/if}}

  <div class="actions">
    {{#each _buttons as |button|}}
      {{#e-button/standard class=button.class action=(action 'onButtonAction' button.action)}}
        {{button.text}}
      {{/e-button/standard}}
    {{/each}}
  </div>
{{/if}}