<i class="left chevron icon link" {{action 'prev'}}></i>

&nbsp;

<div class="numbers">
  {{currentPage}} / {{pages}}
</div>

&nbsp;

<i class="right chevron icon link" {{action 'next'}}></i>

&nbsp;

{{#ui-dropdown class="selection compact" selected=pageSize onChange=(action 'selectPageSize')}}
  <div class="default text">Page Size</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each pageSizes as |item|}}
      <div class="item" data-value="{{item.value}}">
        {{item.value}}
      </div>
    {{/each}}
  </div>
{{/ui-dropdown}}


&nbsp;

{{e-button/standard icon='refresh' action='refresh'}}

{{yield this}}