{{#if multiple}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
  {{#power-select-multiple class='select' options=internalOptions searchField=searchField selected=currentValue
                           onchange=(action (mut currentValue)) as |item|}}
    {{#if hasBlock}}
      {{yield item this}}
    {{else}}
      {{item.name}}
    {{/if}}
  {{/power-select-multiple}}
{{else}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
  {{#power-select options=internalOptions searchField=searchField selected=currentValue
                  onchange=(action (mut currentValue)) as |item|}}
    {{#if hasBlock}}
      {{yield item this}}
    {{else}}
      {{item.name}}
    {{/if}}
  {{/power-select}}
{{/if}}