<button {{action 'onFindAll'}}>find all</button>
<button {{action 'onCreate'}}>create</button>
<button {{action 'onRead'}}>read</button>
<button {{action 'onUpdate'}}>update</button>
<button {{action 'onDelete'}}>delete</button>

{{outlet}}